<div class="col-lg-5 col-xl-5">
    <div class="toast show toast-shortcode" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <span class="svg-icon svg-icon-2 svg-icon-primary me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                </svg>
            </span>
            <strong class="me-auto">Shortcodes disponibles</strong>
        </div>
        <div class="toast-body">
            <p class="shortcode-dispo">[prenom] / [nom] : Affiche le nom ou le prenom du destinataire de l’email.</p>
            <p class="shortcode-dispo">[entreprise] : Affiche le nom de l’entreprise commanditaire de la mission.</p>
            <p class="shortcode-dispo">[mission] : Affiche le nom du produit et de la campagne (Ex : 'Bannière JPG (Campagne topgun)') dans un lien pointant vers la mission</p>
            <p class="shortcode-dispo">[cta_primaire text="xxx" href="xxx"] : Affiche un cta rose avec le texte text vers le lien href.</p>
            <p class="shortcode-dispo">[cta_secondaire text="xxx" href="xxx"] : Affiche un cta bleu avec le texte text vers le lien href.</p>
            <p class="shortcode-dispo">[valider_etape] : Affiche un cta rose avec le texte "Je valide l'étape", qui valide l'étape en cours en cliquant dessus.</p>
            <p class="shortcode-dispo">[demande_modification] : Affiche un cta gris avec le texte "Je demande des modifications", qui demande des modifications de l'étape en cliquant dessus.</p>
            <p class="shortcode-dispo">[contenu_commande] : Liste des produits de la commande</p>
            <p class="shortcode-dispo">[date_livraison_attendue] : La date de livraison attendue de la mission</p>
            <p class="shortcode-dispo">[contenu_brief] : Le brief initial</p>
            <p class="shortcode-dispo">[metier] : Le métier de l'utilisateur a qui est envoyé l'email</p>
            <p class="shortcode-dispo">[etape] : Le nom de l'étape en cours</p>
            <p class="shortcode-dispo">[refcommande] : La référence de la commande</p>
            <p class="shortcode-dispo">[coordonnees_validateur] : Les coordonnées (nom, prenom, email, téléphone) du validateur de la mission</p>
            <p class="shortcode-dispo">[coordonnees_intervenant] : Les coordonnées (nom, prenom, email, téléphone) du partenaire de la mission</p>
            <p class="shortcode-dispo">[civilite] : Civilité du client ou du sous-traitant</p>
            <p class="shortcode-dispo">[tel] : Nméro de téléphone du client ou du sous-traitant</p>
            <p class="shortcode-dispo">[panier] : Affiche le nom du panier</p>
            <p class="shortcode-dispo">[refpanier] : Affiche la référence de la mission</p>
            <p class="shortcode-dispo">[coordonnees_contact_campagne] : Affiche les coordonnées (nom, prenom, email, téléphone) de la personne qui a commandé la campagne</p>
        </div>
    </div>
    <div class="toast show toast-shortcode" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <span class="svg-icon svg-icon-2 svg-icon-primary me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                </svg>
            </span>
            <strong class="me-auto">Liens disponibles</strong>
        </div>
        <div class="toast-body">
            <p class="shortcode-dispo">_lien_activation_profil_client_ : Lien pour activer le profil d'un client</p>
            <p class="shortcode-dispo">_lien_activation_profil_sous_traitant_ : Lien pour activer le profil d'un sous-traitant</p>
            <p class="shortcode-dispo">_lien_tableau_de_bord_ : Lien vers le tableau de bord</p>
            <p class="shortcode-dispo">_lien_mission_ : Lien vers la mission</p>
            <p class="shortcode-dispo">_lien_panier_ : Lien vers la première mission de la commande</p>
            <p class="shortcode-dispo">_lien_revalidation_panier_ : Lien vers la page de revalidation du panier pour le client</p>
        </div>
    </div>
</div>
