$color-checkbox: #368BE5;
$custom-grey-photo: #E0DFE5;
$custom-grey-add-photo: #767676;
$custom-grey: #C2C2C2;
$custom-grey-header-tableau: #E5E8EF;
$custom-grey-content-tableau: #F9FAFC;
$custom-grey-icon: #BECDE0;
$color-fichier-mission: #88AAF2;
$grey-fichier-mission: #EDF4FC;
$blue-text: #97ABF4;
$color-gray: #808080FF;
$color-step-workflow: #F2F2F2;
$color-btn-gray: #F3F4F9;
$color-text-gray-btn: #AAB1B7;
$cadre-my-chat: #F1F1F1;
$cadre-you-chat: #5264B6;
$cadre-you-chat-degrade: #6E70D7;
$color-current-step-workflow: #1668CC;
$color-green-progress-bar: #73DB7A;
$color-state-client-red: #F27877;
$color-gold-state-prestataire: #BCAC18;
$color-beige: #D8AE7E;
$color-provisoire: #D7B748;
$color-pink-custom: #F975C4;
$color-blue-custom: #08085c;
$bg-blue-badge: #7271D7;
$color-blue-exported: #1668CE;
$color-facture: #D9A967;
$color-facture-ok: #73DB7A;
