.bi-check2{
  color: $color-green-custom;
}
.bi-x{
  color: red;
}
.bi-currency-euro{
  background-color: $color-grey-custom;
  color: white;
}
.icon-euro{
  right: 0;
}
.svg-icon.svg-icon-1 svg{
  height: 3.10rem!important;
  width: 2.70rem!important;
  border-radius: 0 5px 5px 0px;
}
.bi-three-dots{
  cursor: pointer;
}
.bi-file-earmark-pdf{
  color: red;
}
